.characterSearch {
  position: relative;
  z-index: 1;
  
  h1 {
    font-family: "Star Wars", sans-serif;
  }

  .passport {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
